Hello, <%= @user.full_name %>!<br>


<%= form_for :event, url: events_path do |f| %>
  <p>
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= form_tag invitations_path do %>
  <% @invitations.each do |invitation| %>
    <%= fields_for 'invitations[]', invitation do |i| %>

      <div class="field">
        <%= i.label :participant_Name %>
        <%= i.text_field :full_name %>
      </div>
      <div class="field">
        <%= i.label :participant_Phone_Number %>
        <%= i.text_field :phone_number %>
      </div>
    <% end %>
  <% end %>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>