<h1>Welcome, <%= @user.full_name %>!</h1>
<p>You're probably getting hangry so let's send out some invites ASAP!</p>

<div id = "error"><%= flash[:invitation_error] %></div>
<%= form_for :event, url: events_path do |f| %>
  <p>
    <%= f.label "What is your current location?" %></br>
    <%= f.text_field :street_address %>
  </p>

  <h2>Guest List:</h2>

  <button type="button" class="addInvitation">Add Guest</button></br>
  <div class="invitationSet">
    <%= render partial: "invitation_form" %>
  </div>

  <button type="button" id="deleteForm">Delete Guest</button></br></br>

  <div>
    <%= f.submit "Send Invitations" %>
  </div>
<% end %>
