<h1>Welcome, <%= @user.full_name %>!</h1>
<p>You're probably getting hangry so let's send out some invites ASAP!</p>

<div id = "error"><%= flash[:invitation_error] %></div>
<div id = "error"><%= flash[:event_error] %></div>
<%= form_for :event, url: events_path do |f| %>
  <div class = "field">
    <p>
      <%= f.label "What is your current location?" %></br>
      <%= f.text_field :street_address %>
    </p>
  </div>

  <h2>Guest List:</h2>

  <button type="button" class="addInvitation">Add Guest</button></br>
  <div class="invitationSet">
    <%= render partial: "invitation_form" %>
  </div>

  <div>
    <%= f.submit "Send Invitations" %>
  </div>
<% end %>


<br>
<br>

<%= @phone_book %>
