<script>
    console.log("loading view");
    var friends_to_numbers = <%= raw @previously_invited_friends.to_json %>;
    var numbers_to_friends = <%= raw @previously_invited_phone_numbers.to_json %>;


    $( document ).ready(function() {

      $(".invitationSet").bind('input', function (e) {
        //find match for name
        var selectedName = e.target.value;
        var matchedNumber = friends_to_numbers[selectedName];

        if (matchedNumber) {
            phone_number_element = $(e.target.parentElement).find('.my_phone_number');
            $(phone_number_element).attr('value', matchedNumber);
        }
      });

    });
</script>

<%= render partial: "navbar" %>
<%= form_for :event, url: events_path, :html => {:class => "location_form"} do |f| %>
<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
<div class = "field">
  <div id = "error"><%= flash[:invitation_error] %></div>
  <div id = "error"><%= flash[:event_error] %></div>
</div>
<p id="header">Hey, <%= @user.full_name %>.</p>
<p id="p1">You're probably getting hangry. Let's find a place to eat.</p>
  <a class="button" data-slide="2" title=""></a>
</div><!--End Slide 1-->



<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5"><br>
  <img src="../assets/location.png" height="340" width="340" id="globe"/>


      <%= f.label "What is your current location?", :class => "header2" %>
      <p id="p2"><%= f.text_field :street_address %></p>

    <a class="button" data-slide="3" title=""></a>
</div><!--End Slide 2-->



<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
  <br>
  <p class="header3">Choose Your Friends</p>
  <button type="button" class="addInvitation">Add Friend</button>
  <div class="invitationSet">
    <%= render partial: "invitation_form", :locals => {:friend_names => @previously_invited_friends.keys, :phone_numbers => @previously_invited_phone_numbers.keys} %>
  </div>
<a class="button" data-slide="4" title=""></a>
</div><!--End Slide 3-->



<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
  <br>
    <%= f.submit "Send Invitations", :id => "buttonInvite" %>
    <img src="../assets/mail.png" height="350" width="350" id="mail">
</div><!--End Slide 4-->
<% end %>
