<h1>You are invited to grab some food by, <%= User.find_by(id: @event.planner_id).full_name %>!</h1>

<div id = "error"><%= flash[:notice] %></div>

<%= form_for :preference do |f| %>
  <p>
    <%= f.label :is_fancy %><br>
    <%= f.select :is_fancy, [['',''],['true','true'],['false','false']] %>
  </p>

  <p>
    <%= f.label :cuisine %><br>
    <%= f.select :cuisine, [['',''],['Japanese','japanese'],['Chinese','chinese'],['American','american'], ['Italian','italian'],['Indian','indian']] %>

  </p>

  <p>
    <%= f.label :is_vegetarian %><br>
    <%= f.select :is_vegetarian, [['',''],['true','true'],['false','false']] %>
  </p>

  <p>
    <%= f.label :distance %><br>
    <%= f.select :distance, [['',''],['1 mile','1 mile'],['2 miles','2 miles'],['5 miles','5 miles'], ['10 miles','10 miles']] %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
