<!DOCTYPE html>
<html>
<head>
  <title>RestaurantRoulette</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,700,800' rel='stylesheet' type='text/css'>
   <%= stylesheet_link_tag "welcome" if controller_name == "welcome" %>

</head>
<body>

<%= yield %>

</body>
</html>
